*{
    padding: 5px;
    margin: 5px;
}

.encabezado{
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    text-align: center;
    color: #111111;
    font-weight: bold;
}


.imagen-galeria{
    width: 300px;
}


.galeria{
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}